@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

.App {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 1fr;
}

.home {
  grid-column: 2;
  grid-row: 2;
  font-family: 'Reenie Beanie', sans-serif;
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
}

button {
  font-family: 'Reenie Beanie', sans-serif;
  font-size: 20px;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  transition-duration: 0.4s;
}

button:hover {
  background-color: lavender;
}

.enter-btn {
  padding: 20px;
  font-size: 20px;
}

.telfar-img {
  transition-duration: 0.4s;
  border: 12px solid lavender;
}

.telfar-img:hover {
  border: 12px solid rgb(216, 216, 255);
}

.portfolio-button {
  margin-top: 20px;
  margin-right: 10px;
}

.header {
  font-size: 48px;
  margin-top: 20px;
}

.contact-header {
  font-size: 48px;
  margin-top: 20px;
}

.portfolio {
  grid-column: 2;
  grid-row: 1;
  font-family: 'Reenie Beanie', sans-serif;
  font-size: 24px;
  text-align: center;
}

.home-btn {
  margin-top: 20px;
}

.contact {
  grid-column: 2;
  grid-row: 2;
  font-family: 'Reenie Beanie', sans-serif;
  font-size: 24px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .telfar-img {
    width: 300px;
  }
}

@media screen and (min-width: 780px) {
  body {
    background-color: white;
  }
  .telfar-img {
    width: 500px;
  }
}